.App {
  text-align: center;
  font-family: inherit;
  background-color: rgb(41, 41, 41) ;
  color: white;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(170, 170, 170);
}

.users{
font-size: medium;
text-decoration: none;
 text-align: left;
 color :rgb(230, 230, 230);
 font-size:medium;


}

.users:hover{
  color:rgb(29, 166, 230);
  text-decoration: none;
  font-size: large;
}

.users-con{
  border: 1px solid rgb(24, 24, 23);
  border-radius: 15px;
  
  
}

.App-link {
  color: #5ca8ff;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
 
Link { color :aliceblue;

}
.btn{
  margin: 2%;
  padding : 2%;
 padding-left: 4%;
 padding-right: 4%;
color: grey;
 border-radius: 10px;
 font-family: inherit;
 font-size: large;
 
}
.signbutton{
  background-color: rgb(54, 172, 250);
  
  border: 1px solid black;
  }
 .container{
   border:none;
   margin: 2%;
   padding:4%;
   color: rgb(92, 91, 91);
   text-align: left;
 }

 .bubl{
  margin: 2%;
  padding : 2%;
 padding-left: 4%;
 padding-right: 4%;
text-decoration: none;
 border-radius: 10px;
 font-family: inherit;
 font-size: large;
 border: 1px solid rgb(29, 166, 230);
 color: rgb(150, 150, 150);
 }
 .bubl:hover{
   border-color: rgb(245, 245, 86);
   color:  rgb(29, 166, 230);
   text-decoration: none;
   font-size: 20px;

 }
.chat-card{
  border-radius: 20px 20px 0px 20px;
  border: 1px solid rgba(214, 214, 214, 0);
  background: rgba(85, 85, 76, 0.781);
  opacity: 1;
  margin: 4%;
 padding: 1%;
 padding-left: 4%;
  max-width: 90%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(202, 198, 198);
 text-align: left;
margin-right: 0;
margin-left: auto;

}
.chat-card-u{
  width:-webkit-fit-content;
  width:-moz-fit-content;
  width:fit-content;
  border-radius: 20px 20px 20px 0px;
 
  background:rgba(106, 164, 211, 0.705);
  opacity: 1;
  margin: 3%;
  padding: 1%;
  padding-left: 4%;
  max-width: 90%;
  color: rgb(201, 201, 201);
  height: auto;
text-align: left;

}
.chatform{
  margin-bottom: 0;
  background: rgb(22, 22, 22);
  max-height: 100px;
  width: 100%;
  -ms-flex-pack: center;
  justify-content: center;
  
}

.chat{
  height: 700px;
  max-width: 800px ;
  position: flex;
  overflow-y: auto;
  padding: 15px 10px;
}
.cha{
  max-height: 100px;
  overflow: hidden;
}

.sndbtn{
  
  
 padding-left: 10px;
 padding-right: 10px;
text-decoration: none;
 
 font-family: inherit;
 font-size: large;
 border: none;
 color: rgb(117, 117, 117);
 max-height: 75px;
 background: transparent;
 font-size: 20px;
 }
 .sndbtn:hover{
  
   color:  rgb(135, 156, 167);
   text-decoration: none;

 }
 .text:hover{
   border: none;
 }
 .text:active{
   border: none;
 }
.input:focus{
  border: none;
  outline: none;

}
 .text{
   height: 40px;
   background-color:rgb(31, 31, 31);
   color: grey;
 }
.tab{
  color:"white",

}

.tab:hover{
  background-color:black
}

.jumbo{
  margin-left: auto;
  margin-right: auto;
}